body {
    /* color: dodgerblue; */
    background-color: gainsboro;
    align-items: center;
}

h1, h2, p, ul {
    padding: 0;
    margin: 0;
}

#title {
    margin: 50px 300px;
    text-align: center;
}

#body-section {
    margin: 0 300px;
    margin-bottom: 50px;
    text-align: center;
}

.emph-text {
    font-weight: bolder;
    font-style: italic;
}

h1 {
    margin-bottom: 10px;
}

h3 {
    margin-top: 30px;
}

div > ul {
    margin: 0 35%;
    padding-left: 15px;
    list-style-type: disc;
    color: black;
}

/* p {
    
} */

table {
    margin: auto;
    padding: 10px;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
}

input[type="button"] {
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}

input[type="text"] {
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
